doctype html
html(lang="en" class="h-100" data-bs-theme="dark")
  block head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
  body
    block header 
        include includes/header.pug
    block content
    block footer 
        include icludes/footer.pug