extends layout
block content
  //- Main Content Wrapper
  main.d-flex

    //- Sidebar
    div.d-flex.flex-column.flex-shrink-0.bg-body-dark.text-center(style="width: 4%;")
      ul#afc-teams.nav-link.py-0.text-light.bg-dark.border-bottom.rounded-0
        //- AFC East
        li.nav-item
          a#conference-toggle.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Toggle Conference" onclick="toggleTeams()")
            img(src="/images/American_Football_Conference_logo.svg" alt="Conference Toggle Logo" width="25" height="25")
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Bills")
            img(src="/images/AFC_East/Buffalo_Bills_logo.svg" alt="Buffalo_Bills_Logo" width="25" height="25")
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Dolphins")
            img(src="/images/AFC_East/Miami_Dolphins_logo.svg" alt="Miami_Dolphins_logo" width="25" height="25")
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Patriots")
            img(src="/images/AFC_East/New_England_Patriots_logo.svg" alt="New_England_Patriots_logo" width="25" height="25")
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Jets")
            img(src="/images/AFC_East/New_York_Jets_logo.svg" alt="New_York_Jets_2024" width="25" height="25")
        //- AFC North
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Ravens")
            img(src="/images/AFC_North/Baltimore_Ravens_logo.svg" alt="Baltimore_Ravens_logo" width="25" height="25")
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Bengals")
            img(src="/images/AFC_North/Cincinnati_Bengals_logo.svg" alt="Cincinnati_Bengals_logo" width="25" height="25")
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Browns")
            img(src="/images/AFC_North/Cleveland_Browns_logo.svg" alt="Cleveland_Browns_logo" width="25" height="25")
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Steelers")
            img(src="/images/AFC_North/Pittsburgh_Steelers_logo.svg" alt="Pittsburgh_Steelers_logo" width="25" height="25")
        //- AFC South
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Texans")
            img(src="/images/AFC_South/Houston_Texans_logo.svg" alt="Houston_Texans_logo" width="25" height="25")
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Colts")
            img(src="/images/AFC_South/Indianapolis_Colts_logo.svg" alt="Indianapolis_Colts_logo" width="25" height="25")
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Jaguars")
            img(src="/images/AFC_South/Jacksonville_Jaguars_logo.svg" alt="Jacksonville_Jaguars_logo" width="25" height="25")
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Titans")
            img(src="/images/AFC_South/Tennessee_Titans_logo.svg" alt="Tennessee_Titans_logo" width="25" height="25")
        //- AFC West
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Broncos")
            img(src="/images/AFC_West/Denver_Broncos_logo.svg" alt="Denver_Broncos_logo" width="25" height="25")
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Chiefs")
            img(src="/images/AFC_West/Kansas_City_Chiefs_KC_logo.svg" alt="Kansas_City_Chiefs_KC_logo" width="25" height="25")
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Raiders")
            img(src="/images/AFC_West/Las_Vegas_Raiders_logo.svg" alt="Las_Vegas_Raiders_logo" width="25" height="25")
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Chargers")
            img(src="/images/AFC_West/Los_Angeles_Chargers_logo.svg" alt="Los_Angeles_Chargers_logo" width="25" height="25")

      ul#nfc-teams.nav-link.py-0.text-light.bg-dark.border-bottom.rounded-0(style="display: none;")
        //- NFC East
        li.nav-item
          a#conference-toggle.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Toggle Conference" onclick="toggleTeams()")
            img(src="/images/National_Football_Conference_logo.svg" alt="Conference Toggle Logo" width="25" height="25")
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Giants")
            img(src="/images/NFC_East/New_York_Giants_logo.svg" alt="New_York_Giants_logo" width="25" height="25")
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Eagles")
            img(src="/images/NFC_East/Philadelphia_Eagles_logo.svg" alt="Philadelphia_Eagles_logo" width="25" height="25")
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Commanders")
            img(src="/images/NFC_East/Washington_Commanders_logo.svg" alt="Washington_Commanders_logo" width="25" height="25")
        //- NFC North
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Bears")
            img(src="/images/NFC_North/Chicago_Bears_logo.svg" alt="Chicago_Bears_logo" width="25" height="25")
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Lions")
            img(src="/images/NFC_North/Detroit_Lions_logo.svg" alt="Detroit_Lions_logo" width="25" height="25")
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Packers")
            img(src="/images/NFC_North/Green_Bay_Packers_logo.svg" alt="Green_Bay_Packers_logo" width="25" height="25")
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Vikings")
            img(src="/images/NFC_North/Minnesota_Vikings_logo.svg" alt="Minnesota_Vikings_logo" width="25" height="25")
        //- NFC South
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Falcons")
            img(src="/images/NFC_South/Atlanta_Falcons_logo.svg" alt="Atlanta_Falcons_logo" width="25" height="25")
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Panthers")
            img(src="/images/NFC_South/Carolina_Panthers_logo.svg" alt="Carolina_Panthers_logo" width="25" height="25")
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Saints")
            img(src="/images/NFC_South/New_Orleans_Saints_logo.svg" alt="New_Orleans_Saints_logo" width="25" height="25")
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Buccaneers")
            img(src="/images/NFC_South/Tampa_Bay_Buccaneers_logo.svg" alt="Tampa_Bay_Buccaneers_logo" width="25" height="25")
        //- NFC West
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="49ers")
            img(src="/images/NFC_West/San_Francisco_49ers_logo.svg" alt="San_Francisco_49ers_logo" width="25" height="25")
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Seahawks")
            img(src="/images/NFC_West/Seattle_Seahawks_logo.svg" alt="Seattle_Seahawks_logo" width="25" height="25")
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Rams")
            img(src="/images/NFC_West/Los_Angeles_Rams_logo.svg" alt="Los_Angeles_Rams_logo" width="25" height="25")
        li
          a.nav-link.py-3.text-light.bg-dark.border-bottom.rounded-0(title="Cardinals")
            img(src="/images/NFC_West/Arizona_Cardinals_logo.svg" alt="Arizona_Cardinals_logo" width="25" height="25")

    // Score Content Area
    .score-content.bg-body-dark.p-3.flex-grow-1
      .team
        h2#team1-name Team
        h3 Score: 
          span#team1-score.badge.bg-dark 0
        div#team1-text-area.score-area.border.p-2.mt-2 Text Area
      .team
        h2#team2-name Team
        h3 Score: 
          span#team2-score.badge.bg-dark 0
        div#team2-text-area.score-area.border.p-2.mt-2 Text Area