extends layout

block content
    .container.mt-5
        h2.text-center.text-light NFL Power Rankings
        table.table.table-dark.table-striped
            thead
                tr
                    th Rank
                    th Team
                    th Offensive Rank
                    th Defensive Rank
            tbody
                //- Mock Data
                tr
                    td 1
                    td Detroit Lions
                    td 1
                    td 1
                tr
                    td 2
                    td Kansas City Chiefs
                    td 2
                    td 2
                tr
                    td 3
                    td Buffalo Bills
                    td 5
                    td 1
                tr
                    td 4
                    td Philadelphia Eagles
                    td 3
                    td 5
                tr
                    td 5
                    td Pittsburgh Steelers
                    td 6
                    td 7
                tr
                    td 6
                    td Minnesota Vikings
                    td 1
                    td 15
                tr
                    td 7
                    td Baltimore Ravens
                    td 8
                    td 3
                tr
                    td 8
                    td Green Bay Packers
                    td 7
                    td 9
                tr
                    td 9
                    td Los Angeles Chargers
                    td 10
                    td 6
                tr
                    td 10
                    td Washington Commanders 
                    td 9
                    td 13
                tr
                    td 11
                    td Arizona Cardinals
                    td 11
                    td 10
                tr
                    td 12
                    td Houston Texans
                    td 12
                    td 14
                tr
                    td 13
                    td San Francisco 49ers
                    td 14
                    td 12
                tr
                    td 14
                    td Denver Broncos
                    td 13
                    td 11
                tr
                    td 15
                    td Los Angeles Rams
                    td 15
                    td 8
                tr
                    td 16
                    td Seattle Seahawks
                    td 16
                    td 16
                tr
                    td 17
                    td Atlanta Falcons
                    td 17
                    td 17
                tr
                    td 18
                    td Tampa Bay Buccaneers
                    td 18
                    td 18
                tr
                    td 19
                    td Indianapolis Colts
                    td 19
                    td 19
                tr
                    td 20
                    td Cinicinnati Bengals
                    td 20
                    td 20
                tr
                    td 21
                    td Miami Dolphins
                    td 21
                    td 21
                tr
                    td 22
                    td New Orleans Saints
                    td 22
                    td 22
                tr
                    td 23
                    td Chicago Bears
                    td 23
                    td 23
                tr
                    td 24
                    td Dallas Cowboys
                    td 24
                    td 24
                tr
                    td 25
                    td New England Patriots
                    td 25
                    td 25
                tr
                    td 26
                    td Carolina Panthers
                    td 26
                    td 26
                tr
                    td 27
                    td New York Jets
                    td 27
                    td 27
                tr
                    td 28
                    td Cleveland Browns
                    td 28
                    td 28
                tr
                    td 29
                    td Tennessee Titans
                    td 29
                    td 29
                tr
                    td 30
                    td Jacksonville Jaguars
                    td 30
                    td 30
                tr
                    td 31
                    td New York Giants
                    td 31
                    td 31
                tr
                    td 32
                    td Las Vegas Raiders
                    td 32
                    td 32
